@import '../../styles/config';
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

$padding-320: 0 1.25rem;
$padding-375: 0 1.5rem;

.lsPage{
    position: relative;
    width: 100%;
    min-height: 100vh; 
    background-color: $white;
}

@import './styles/lsHeader';
@import './styles/lsHero';
// @import './styles/lsAbout';
// @import './styles/lsCreation';
// @import './styles/lsFooter';