.lsAbout{
    width: 100%;
    min-height: 100vh;
    padding: 0 6.5vw;
    display: flex;
    align-items: center;
    margin: 5vh 0;

    @include rwd(375){
        margin: 7vh 0 2vh 0;
    }

    &-container{
        width: 100%;
        height: fit-content;

        img{
            width: 100%;
        }

        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 1;
            text-transform: uppercase;
            text-align: center;
            color: $black;
            margin-top: 2.7rem;

            @include rwd(375){
                font-size: 2rem;
            }
        }
        p{
            font-family: 'Alata', sans-serif;
            font-size: 13px;
            text-align: center;
            line-height: 1.6;
            color: $darkGray;
            margin-top: 1.2rem;
            padding: 0 1.3rem;

            @include rwd(375){
                font-size: 15px;
                padding: 0 1.5rem;
            }
        }
    }
}