.lsFooter{
    width: 100%;
    height: auto;
    background-color: $black;
    font-family: 'Alata', sans-serif;
    padding: 3rem 6.5vw;

    @include rwd(375){
        padding: 3.5rem 6.5vw;           
    }

    &-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 44%;
        }
    }
}

.lsNavLink-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.2rem 0;

    @include rwd(375){
        margin: 1.4rem 0 1.5rem;           
    }

    a{
        text-align: center;
        text-decoration: none;
        color: $gray-200;
        font-size: 12.5px;
        font-weight: 400;
        margin: 0.55rem 0;

        @include rwd(375){
            font-size: 15px;
            margin: 0.65rem 0;
        }
    }
}

.lsSocMed-container{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 0;

    a{
        text-decoration: none;

        &:focus, &:active{
            outline: none;
        }

        img{
            width: 20px;
            margin: 0 0.45rem;

            @include rwd(375){
                width: 24px;
                margin: 0 0.5rem;
            }
        }
    }
}

.lsCopyright{
    letter-spacing: 0.01rem;
    font-size: 12.5px;
    color: $darkGray;

    @include rwd(375){
        font-size: 14.5px;  
    }   
}