.lsHeader{
    position: absolute;
    width: 100%;
    height: 90px;
    padding: $padding-320;

    @include rwd(375) {
        height: 104px;
        padding: $padding-375;
    }

    @include rwd(414) {
        height: 114px;
        padding: $padding-414;
    }

    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 123px;
            z-index: 2;

            @include rwd(375) {
                width: 144px;
            }

            @include rwd(414){
                width: 160px;
            }
        }
    }
}