.lsHero{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 97.5vh;
    min-height: 550px;
    background-image: url('../../../images/loopstudios/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: $padding-320;
    margin-bottom: 2.5vh;

    @include rwd(375){
        padding: $padding-375;
    }

    @include sm{
        height: 600px;
        background-image: linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0, 0, 0, 0.5)),url('../../../images/loopstudios/desktop/image-hero.jpg');
        background-blend-mode: multiply;
        background-position: top center;
    }
}

.lsHero-container{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .lsHero-title{
        width: 100%;
        min-width: 280px;
        height: fit-content;
        font-size: 34px;
        font-weight: 300;
        color: $gray-200;
        text-transform: uppercase;
        line-height: 0.95;
        border: 2px solid $gray-200;
        padding: 1.3rem 1.2rem 0.9rem;

        @include rwd(375) {
            font-size: 40px;
            padding: 1.6rem 1.4rem 1rem;
        }

        @include rwd(414) {
            width: 366px;
        }

        // @include sm{
        //     width: fit-content;
        // }
    }
}