@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
  }

.lsSidebar{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;

    @include rwd(375){
        padding: 0 1.5rem;
    }

    @include rwd(640){
        left: auto;
        right: 0;
        width: 300px;
        height: 600px;
    }
}

.lsSidebar-linkContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    a{
        font-size: 20px;
        font-weight: 300;
        color: #E4E4E7;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        margin: 0.55rem 0;

        @include rwd(375){
            font-size: 24px;
            letter-spacing: 0.15px;
            margin: 0.75rem 0;
        }
    }
}